<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.boostrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.boostrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Dave's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Dave's Blog</a></h1>
    </div>
    {% for post in posts %}
      <div>
        <p>Published: {{ post.published_date }}</p>
        <hi><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
      </div>
    {% endfor %}

 </body>
</html>
